* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 200%;
  background-color: #eee;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content > form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 1rem;
  height: 35vh;

  box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.2);
  border: 2px solid #eaeaea;
  border-radius: 1rem;
}

form > input {
  width: 35%;
  height: 20%;
  border-radius: 0.75rem;
  padding: 0.25rem;
}

form > input[type="submit"] {
  background-color: #4CD62B;
}